@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Montserrat',sans-serif;
    margin: 0px;
}

#title {
    background-color: #ff4c68;
    /* text-align: center; */
    color: #fff;
    /* position: relative; */
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

h1 {
    font-family: 'Montserrat-Black',sans-serif;
    size: 3.5rem;
    line-break: 1.5;
    font-weight: 800;
} 

h2 {
    font-family: 'Montserrat-Bold',sans-serif;
    size: 3.5rem;
    line-break: 1.5;
    font-weight: 800;
}


.container-fluid {
    padding: 3% 15%;
}


.dog-img {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 50px;
    z-index: 1;
    position: relative;
}

/* download button */

.btn-download {
    margin: 5% 3% 5% 0%;
}

.download-icon {
    margin-right: 5px;
}

#features {
    padding: 7% 15%;
}

.features-icon {
    font-size: 50px;
    color: #ff4c68;
    margin-bottom: 10px;
}

.features-icon:hover {
    color: #f20529;
}

.features-item {
    text-align: center;
    line-height: 1.5;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonials-img {
    border-radius: 150px;
    width: 100px;
    margin: 10px;

}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%; 
}

.press-logo {
    width: 15%;
    margin: 20px 20px;
}

